{% extends 'base.html' %}
{% load static %}
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
{% block content %}
<div class="container body-container">
    <h1>Profile</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
    {% if user.profile.image %}
    <img src="{{ user.profile.image.url }}" alt="Profile Image">
    {% else %}
    <p>No profile image available.</p>
    {% endif %}
</div>
{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}