{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-brand">
        <div class="nav-logo"></div>
    </div>
    <!-- <div class="landing-buttons"> -->
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="../" class="nav-link">Home</a> 
            </li>
            <li class="nav-item">
                <a href="../workers/" class="nav-link">Hire Workers</a>
            </li>
            <li class="nav-item">
                <a href="../jobs/" class="nav-link">Find a Job</a>
            </li>
            <li class="nav-item">
                <a href="../about/" class="nav-link">About Us</a>
            </li>
        </ul>
        
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                {% if user.is_authenticated %}
                <form method="POST" action="{% url 'logout_view' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link nav-link">Log Out</button>
                {% else %}
                <a href="../login/" class="nav-link">Login </a>
            </li>
            <li class="nav-item">
                <a href="../register/" class="nav-link">Sign Up </a>
            </li>
            {% endif %}
        </ul>
    </div>

</nav>