{% extends 'base.html' %}
{% load static %}
{% block add_css %} 
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
{% block content %}
<div class="home">
    <section>
        <h1>About HireWired</h1>
        <p>
            HireWired is a digital platform that connects blue-collar workers with potential employers by allowing them to showcase their services, skills, and certifications. It features job listings, advanced search filters, and a skill display system similar to Fiverr. The platform also supports worker referrals and partners with barangays to help offline workers access job opportunities.
        </p>
    </section>


    <section>
        <h1>BlueCollab</h1>
        <p>
            BlueCollab is a startup founded by students from the University of the Philippines Diliman—Riana Bejarin, Jean Sarino, and Levie M. Dianito. The company addresses the lack of networking platforms for blue-collar workers by creating a dedicated space where they can find job opportunities, showcase their skills, and connect with potential employers.
        </p>
    </section>


    <section>
        <h2>Mission</h2>
        <p>
            Our mission is to create an accessible platform where blue-collar workers can connect with potential employers and showcase their skills and expertise. We are dedicated to empowering every worker—regardless of industry—with the tools, resources, and opportunities needed to succeed and grow in their careers.
        </p>
    </section>

    <section>
        <h2>Vision</h2>
        <p>
            To transform the job-finding process and build a future where every skilled worker, regardless of socioeconomic status or digital literacy, can access meaningful employment opportunities, gain recognition, and achieve lasting professional growth.
        </p>
    </section>
</div>

{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}