{% extends 'base.html' %}
{% load static %}
{% block add_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock  %}
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
{% block content %}
<div class="homepage-container">
    <!-- Header Section -->
    <header class="header">
        <h1>HIREWIRED</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam...</p>
    </header>

    {% include "home_categ.html" %}
</div>
<script src="{% static 'js/home_script.js' %}"></script>
{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}