{% extends 'base.html' %}
{% load static %}
{% block add_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock  %}
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
{% block content %}
<div class="homepage-container">

  
<section class="hero-section">
  <div class="hero-overlay">
    <div class="hero-content">
      <p class="subtitle">This is HireWired</p>
      <h1>Your<br>Labor Platform</h1>
      <p class="description">
         Showcase your skills, find quality jobs, and grow your career.<br>
        For employers: Access verified, certified workers on demand.<br>
      </p>
      <div class="hero-buttons">
        <a href="/register" class="btn primary">Get Started</a>
      </div>
    </div>
  </div>
</section>




    {% include "home_categ.html" %}
</div>
<script src="{% static 'js/home_script.js' %}"></script>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}