{% extends 'base.html' %}
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
{% block content %}
    <div class="body-container">
        <h1>Find Jobs</h1>
        <div class="col">
        <form method="GET">
            <div class="row mb-3">
                <div class="col">
                    <input type="text" name="search" id="search" class="form-control" placeholder="Search">
                </div>
            </div>
        </form>
        </div>
        <div class="row">
            <div class="col job-list container">
                <!-- <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Job Title</h4>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="card-text float-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="btn btn-primary float-end">See more</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Job Title</h4>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="card-text float-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="btn btn-primary float-end">See more</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Job Title</h4>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="card-text float-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="btn btn-primary float-end">See more</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Job Title</h4>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="card-text float-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="btn btn-primary float-end">See more</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Job Title</h4>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="card-text float-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="btn btn-primary float-end">See more</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Job Title</h4>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="card-text float-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="btn btn-primary float-end">See more</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Job Title</h4>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="card-text float-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="btn btn-primary float-end">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
                 -->
                {% for job in jobs %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="card-title">{{ job.name }}</h4>
                            <div class="row">
                                <div class="col-sm-9">
                                    <p class="card-text float-start">{{ job.description }}</p>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#" class="btn btn-primary">See more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col">
                <div class="card mb-3 h-100">
                    <!-- <div class="card-body">
                        <div class="row mb-3">
                            <h2 class="card-title">Job Name</h2>
                            <p class="card-text float-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <div>
                                <a href="#" class="btn btn-primary">Apply</a>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col">
                                <h4 class="card-subtitle">Job Details</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                <h6 class="card-subtitle">Qualifications</h6>
                                <ul>
                                    <li>Lsdfdh</li>
                                    <li>dfgdhj</li>
                                    <li>asdfgh</li>
                                </ul>
                            </div>
                            <div class="col">
                                <div class="row mb-3">
                                    <h4 class="card-subtitle">Shift and Schedule</h4>
                                    <p class="card-text">xx:xx am - xx:xx pm</p>
                                </div>
                                <div class="row mb-3">
                                    <h4 class="card-subtitle">Pay/Salary</h4>
                                    <p class="card-text">P xx.xx per hr / day</p>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    {% for job in jobs %}
                    <div class="card-body">
                        <div class="row mb-3">
                            <h2 class="card-title">{{ job.name }}</h2>
                            <p class="card-text float-start">{{ job.description }}</p>
                            <div>
                                <a href="#" class="btn btn-primary">Apply</a>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col">
                                <h4 class="card-subtitle">Job Details</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                <h6 class="card-subtitle">Qualifications</h6>
                                <ul>
                                    <li>Lsdfdh</li>
                                    <li>dfgdhj</li>
                                    <li>asdfgh</li>
                                </ul>
                            </div>
                            <div class="col">
                                <div class="row mb-3">
                                    <h4 class="card-subtitle">Shift and Schedule</h4>
                                    <p class="card-text">{{ job.schedule }}</p>
                                </div>
                                <div class="row mb-3">
                                    <h4 class="card-subtitle">Pay/Salary</h4>
                                    <p class="card-text">P {{ job.salary }} per hr / day</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>    
        </div>
    </div>
{% endblock %}