{% extends 'base.html' %}
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
{% block content %}
    <div class="body-container">
        <div class="col">
        <form method="GET">
            <div class="row mb-3">
                <div class="col">
                    <input type="text" name="search_query" id="search" class="form-control" placeholder="Search">
                    <input type="hidden" name="category" value="{{ selected_category }}">
                </div>
            </div>
        </form>
        </div>
        <div class="row">
            <nav class="d-flex justify-content-center mt-3">
                <!-- <a href="#" class="px-3 categories-nav">Category 1</a>
                <span class="text-muted">|</span>
                <a href="#" class="px-3 categories-nav">Category 2</a>
                <span class="text-muted">|</span>
                <a href="#" class="px-3 categories-nav">Category 3</a>
                <span class="text-muted">|</span>
                <a href="#" class="px-3 categories-nav">Category 4</a> -->
                {% for cat in categories %}
                    <a href="?category={{ cat }}" class="px-3 categories-nav {% if cat == selected_category %}active{% endif %}">{{ cat }}</a>
                    {% if not forloop.last %}<span class="text-muted">|</span>{% endif %}
                {% endfor %}
            </nav>

        </div>
        <h1>{{ selected_category }}</h1>
        <div class="container mt-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <!-- <div class="col">
                <div class="card h-100" >
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div> -->

            {% for app in applications %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ app.worker.workerprofile.profile_picture.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ app.worker.get_full_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ app.job.name }}</h6>
                        <p class="card-text">{{ app.worker.workerprofile.experience|truncatewords:20 }}</p>
                        <a href="{% url 'hire_worker_profile_view' app.worker.id %}" class="btn btn-primary">View Profile</a>
                    </div>
                </div>
            </div>

            {% empty %}
                <p>No workers found for this category.</p>
            {% endfor %}

            <!-- <div class="col">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100" >
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100" >
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100" >
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div> -->
        </div>
        </div>
        
    </div>
{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}